################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CBSapp/FileContentIndex
CBSapp.Server/bin/
CBSapp.Server/obj
CBSapp/.vs